<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>Ifunga Ndana's Blog - {{ page.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="robots" content="index,follow"/>
    <meta name="mssmarttagspreventparsing" content="true"/>
    <meta name="author" content="Ifunga Ndana"/>
    <meta name="dc.title" content="Ifunga Ndana's Blog - {{ page.title }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ page.title | truncate:70}}"/>
    <meta name="twitter:site" content="@subiyacryolite"/>
    <meta name="twitter:creator" content="@subiyacryolite"/>
    <meta name="twitter:description" content="{{ page.content | markdownify | strip_html | truncate:200 }}"/>
    <meta name="twitter:url" content="https://subiyacryolite.github.io{{ page.url }}"/>
    <meta name="twitter:domain" content="subiyacryolite.github.io"/>
    <link rel="start" href="https://subiyacryolite.github.io" title="Ifunga Ndana's Blog"/>
    <link rel="shortcut icon" href="/images/favicon.gif" type="image/gif"/>
    <link rel="icon" href="/images/favicon.gif" type="image/gif"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print"/>
    <link href="https://subiyacryolite.github.io/rss.xml" rel="alternate" title="Primary Feed"
          type="application/rss+xml"/>
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <title> {{ page.title }} </title>
</head>
<body>
<header>
    <div class="inner">
        <h1> {{ site.name }} </h1>
        <h2>Hi, I'm Ifunga Ndana. I enjoy developing software, drawing comics, observing politics and playing video
            games.</h2>
    </div>
</header>
<div id="content-wrapper">
    <div class="inner clearfix">
        <section id="main-content">
            {{ content }}
        </section>
        <section id="sidebar" style="padding:2em; margin: 2em; text-align: right">
            <br/>Site Links
            <br/><a href="{{ site.baseurl }}/" title="Home">Home</a>
            <br/><a href="/archives.html" title="Archives">Archives</a>
            <br/><a href="/about.html" title="Archives">About</a>
            <br/>The SCND Genesis
            <br/><a href="http://www.scndgen.com" title="Official Site" target="_blank">Official Site</a>
            <br/><a href="https://www.facebook.com/The-SCND-Genesis-111839318834780/" title="Archives" target="_blank">Facebook
            Page</a>
            <br/>Social Media
            <br/><a href="https://twitter.com/subiyacryolite" target="_blank">Twitter</a>
            <br/><a href="http://www.facebook.com/profile.php?id=1066802020" target="_blank">Facebook</a>
            <br/><a href="http://www.linkedin.com/pub/ifunga-ndana/44/a30/667" target="_blank">LinkedIn</a>
            <br/>Code
            <br/><a href="https://github.com/SubiyaCryolite" target="_blank">GitHub</a>
            <br/>Feeds
            <br/><a href="{{ site.baseurl }}/rss.xml" title="Full-text RSS feed">RSS Feed</a>
            <br/><a href="{{ site.baseurl }}/atom.xml" title="Atom feed">Atom Feed</a>
        </section>
    </div>
    <div id="footer_text" style="text-align:center">&copy; 2017+ Ifunga Ndana</div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', {{ site.google_analytics }}, 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
